@import "bulma/css/bulma.css";
@import "bulmaswatch/sandstone/bulmaswatch.min.css";
:root {
  --navbar-height: 60px;
}
aside.admonition {
  display: none;
}
main {
  margin-top: var(--navbar-height);
  div.grid {
    div.cell {
      div.editor {
        font-family: monospace;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
      }
      iframe {
        width: 100%;
        min-height: 50dvh;
      }
    }
  }
}
